@use "../../../assets/styles/colors" as *;
@use "../../../assets/styles/fonts" as *;

.card {
    border: none;
    min-height: 431px;
    height: 97%;

    .header {
        display: flex;
        justify-content: center;

        img {
            height: 180px;
            width: 180px;
        }
    }

    .body {
        .brand {
            color: rgba(189, 189, 189);
            font-size: 12px;
            font-weight: bold;
        }

        .sub-brand {
            font-size: 10px;
            font-family: $brand-name-font;
        }

        .price {
            font-size: 12px;
        }

        .discount {
            color: rgba(208, 2, 27);
            font-weight: bold;
            min-height: 25px;
        }

        .tags {
            font-size: 11px;
            background: green;
            width: fit-content;
            padding: 0 6px;
            color: white;
            border-radius: 6px;
            border: none;
        }
    }

    .footer {
        display: flex;
        justify-content: center;

        ::ng-deep p-button {
            font-weight: 400 !important;
            font-size: 12px;

            .p-button-label,
            .pi-shopping-cart {
                color: black !important;
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px $base-input-color;
        transition: all ease-in-out .5s;
    }
}

.filter-icon {
    border: 1px solid $main-color;
    border-radius: 10px;
    font-size: 12px;
    background-color: white;
    height: 43px;
    padding-top: 10px;
    width: 50px;
    background-color: $main-color;
    margin-bottom: 20px;
    transition: all .3 ease-in-out;

    &:hover {
        background-color: white;
        border: 1px solid black;
    }
}

.filter {
    ::ng-deep button {
        width: 100%;
        text-align: center;
        color: black;
        margin-top: 10px;
        background-color: $main-color !important;
    }
}

.not-found {
    height: 100vh;
}

h3,
::ng-deep.p-panel-title,
::ng-deep.label-checkbox {
    font-family: 'Cairo', sans-serif !important;
}

::ng-deep.p-panel-title {
    font-weight: bold;
}

::ng-deep .p-rating .p-rating-icon {
    color: $main-color;
}

::ng-deep .p-panel-content {
    padding: 0;
}

::ng-deep .p-panel-icons {
    display: none;
}

::ng-deep .p-toggleable-content {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $main-color #f1f1f1;
    scroll-behavior: smooth;
}

label {
    font-size: 12px;
}

:host {
    ::ng-deep {
        .p-sidebar-left {
            padding-top: 120px !important;
            width: 20rem;
        }
    }

}

@media (max-width: 767px) {
    .card {
        overflow: hidden;

        .header {
            img {
                height: 180px;
                width: 180px;
            }
        }

        .p-button {
            font-size: 10px;
        }
    }
}
