<div class="container">
    <div class="row">
        <div class="col-md-2 col-12" *ngIf="Brands && !queryParams">
            <p-panel *ngIf="!branId" header="Brand" [toggleable]="true">
                <div class="my-1" *ngFor="let res of Brands">
                    <p-checkbox class="me-2" [binary]="true" inputId="binary" [value]="res.id"
                        (onChange)="selectSearch($event.checked, res.id)"></p-checkbox>
                    <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
                </div>
            </p-panel>
            <p-panel *ngIf="!categoryId" header="Category" [toggleable]="true">
                <div class="my-1" *ngFor="let res of Category">
                    <p-checkbox class="me-2" [binary]="true" inputId="binary" [value]="res.id"
                        (onChange)="selectSearchCategory($event.checked, res.id)"></p-checkbox>
                    <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
                </div>
            </p-panel>
            <p-panel header="Price" [toggleable]="true">
                <p-slider [(ngModel)]="rangePrice" [range]="true"></p-slider>
            </p-panel>
            <p-panel header="Tags" [toggleable]="true">
                <div class="my-1" *ngFor="let res of TagValues">
                    <p-checkbox class="me-2" [binary]="true" inputId="binary" [value]="res"
                        (onChange)="selectSearchTags($event.checked, res)"></p-checkbox>
                    <label class="label-checkbox" style="font-size: 12px;" for="binary">{{Tags[res] |
                        uppercase}}</label>
                </div>
            </p-panel>
            <div class="filter">
                <p-button class="filter-btn" (onClick)="filter()" label="Filter" [text]="true"
                    severity="help"></p-button>
            </div>
        </div>
        <div class="col-md-10 col-12">
            <ng-container *ngIf="titlePage">
                <div class="row">
                    <h3>{{titlePage}}</h3>
                    <div class="col-12 col-sm-6 col-md-3" *ngFor="let res of Products$ | async">
                        <div class="m-1 p-2 card">
                            <span (click)="navigateToProduct(res.id)">
                                <div class="header">
                                    <img [src]="sanitizationImage(res.coverImg)" alt="">
                                </div>
                                <div class="body">
                                    <div class="brand">{{res.brandName}}</div>
                                    <div class="sub-brand mb-3">{{res.name}}</div>
                                    <div>
                                        Available Quantity: {{res.qty ? res.qty : 0}}
                                    </div>
                                    <div>
                                        <p-rating [(ngModel)]="res.rateValue" [readonly]="true"
                                            [cancel]="false"></p-rating>
                                    </div>
                                    <div>
                                        <span class="tags" *ngIf="res.tag || res.tag === 0">{{Tags[res.tag]}}</span>
                                        <span class="tags" *ngIf="res.rateValue > 4 && res.tag !== 2">
                                            {{Tags[2]}}</span>
                                        <span class="tags" *ngIf="res.creationDate && handeleDate(res.creationDate) && res.tag !== 1">
                                            {{Tags[1]}}</span>
                                    </div>
                                    <div class="price">
                                        <span
                                            [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                                            SAR {{res.price}}</span>
                                        <span> (VAT included)</span>
                                    </div>
                                    <div class="discount" *ngIf="res.discountPercentage">SAR {{(+res.discountPercentage
                                        /
                                        +res.price ) * 100 | trimDecimalPipe}}
                                    </div>
                                </div>
                            </span>
                            <hr>
                            <div class="footer">
                                <p-button *ngIf="!res.hasAttr"
                                    (onClick)="addCart({id:res.id, name: res.name, price: res.price, discountPercentage: res.discountPercentage, coverImg: res.coverImg, qty: res.qty})"
                                    [label]="!cartService.checkInCart(res.id) ? 'Add To Cart' : 'Done'" [text]="true"
                                    severity="help" [disabled]="cartService.checkInCart(res.id) || !res.qty"></p-button>
                                <p-button *ngIf="res.hasAttr" (onClick)="navigateToProduct(res.id)"
                                    [label]="'View Product'" [text]="true" severity="help"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-auto mt-4">
                    <p-paginator locale="en-US" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                        [totalRecords]="totalCount"></p-paginator>
                </div>
            </ng-container>
            <ng-container *ngIf="!totalCount">
                <h3 class="text-center my-5 not-found">Not Found Products</h3>
            </ng-container>
        </div>
    </div>
</div>