<div class="container">
    <div class="row">
        <div class="col-md-2 col-12" *ngIf="Brands && !queryParams">
            <p-panel *ngIf="!branId" [header]="'Brand' | translate" [toggleable]="true">
                <div class="my-1" *ngFor="let res of Brands">
                    <p-checkbox class="me-2 ms-2" [binary]="true" inputId="binary" [value]="res.id"
                        (onChange)="selectSearch($event.checked, res.id)"></p-checkbox>
                    <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
                </div>
            </p-panel>
            <p-panel *ngIf="!categoryId" [header]="'Category'| translate" [toggleable]="true">
                <div class="my-1" *ngFor="let res of Category">
                    <p-checkbox class="me-2 ms-2" [binary]="true" inputId="binary" [value]="res.id"
                        (onChange)="selectSearchCategory($event.checked, res.id)"></p-checkbox>
                    <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
                </div>
            </p-panel>
            <p-panel [header]="'Price'| translate" [toggleable]="true">
                <div>
                    <div>
                        <label for="">{{"From" | translate}}</label>
                        <input type="number" class="form-control" [placeholder]="'From' | translate" [(ngModel)]="rangePrice[0]">
                    </div>
                    <div>
                        <label for="">{{"To" | translate}}</label>
                        <input type="number" class="form-control" [placeholder]="'To' | translate" [(ngModel)]="rangePrice[1]">
                    </div>
                </div>
            </p-panel>
            <p-panel [header]="'Tags' | translate" [toggleable]="true">
                <div class="my-1" *ngFor="let res of TagValues">
                    <p-checkbox class="me-2 ms-2" [binary]="true" inputId="binary" [value]="res"
                        (onChange)="selectSearchTags($event.checked, res)"></p-checkbox>
                    <label class="label-checkbox" style="font-size: 12px;" for="binary">{{Tags[res] |
                        uppercase}}</label>
                </div>
            </p-panel>
            <div class="filter">
                <p-button class="filter-btn" (onClick)="filter()" [label]="'Filter' | translate" [text]="true"
                    severity="help"></p-button>
            </div>
        </div>
        <div class="col-md-10 col-12">
            <ng-container *ngIf="titlePage">
                <div class="row">
                    <h3>{{titlePage | translate}}</h3>
                    <div class="col-12 col-sm-6 col-md-3" *ngFor="let res of Products$ | async">
                        <div class="m-1 p-2 card">
                            <span (click)="navigateToProduct(res.id)">
                                <div class="header">
                                    <img [src]="sanitizationImage(res.coverImg)" alt="">
                                </div>
                                <div class="body">
                                    <div class="brand">{{res.brandName}}</div>
                                    <div class="sub-brand mb-3">{{res.name}}</div>
                                    <div>
                                        {{"AvailableQuantity" | translate}}: {{res.qty ? res.qty : 0}}
                                    </div>
                                    <div>
                                        <p-rating [(ngModel)]="res.rateValue" [readonly]="true"
                                            [cancel]="false"></p-rating>
                                    </div>
                                    <div>
                                        <span class="tags" *ngIf="res.tag || res.tag === 0">{{Tags[res.tag]}}</span>
                                        <span class="tags" *ngIf="res.rateValue > 4 && res.tag !== 2">
                                            {{Tags[2]}}</span>
                                        <span class="tags"
                                            *ngIf="res.creationDate && handeleDate(res.creationDate) && res.tag !== 1">
                                            {{Tags[1]}}</span>
                                    </div>
                                    <div class="price">
                                        <span
                                            [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                                            {{"SAR" | translate}} {{res.price}}</span>
                                        <span> ({{"VATIncluded" | translate}})</span>
                                    </div>
                                    <div class="discount" *ngIf="res.discountPercentage">{{"SAR" | translate}} {{+res.price - ((+res.discountPercentage
                                        /
                                        100 ) * +res.price) | trimDecimalPipe}}
                                    </div>
                                </div>
                            </span>
                            <hr>
                            <div class="footer">
                                <p-button *ngIf="!res.hasAttr"
                                    (onClick)="addCart({id:res.id, name: res.name, price: res.price, discountPercentage: res.discountPercentage, coverImg: res.coverImg, qty: res.qty})"
                                    [label]="('AddToCart' | translate)" [text]="true"
                                    severity="help" [disabled]="!res.qty"></p-button>
                                <p-button *ngIf="res.hasAttr" (onClick)="navigateToProduct(res.id)"
                                    [label]="'ViewProduct' | translate" [text]="true" severity="help"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-auto mt-4">
                    <p-paginator dir="auto" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                        [totalRecords]="totalCount"></p-paginator>
                </div>
            </ng-container>
            <ng-container *ngIf="!totalCount">
                <h3 class="text-center my-5 not-found">{{"NotFoundProducts" | translate}}</h3>
            </ng-container>
        </div>
    </div>
</div>