@use "../../../assets/styles/colors" as *;
@use "../../../assets/styles/fonts" as *;

.card {
    border: none;
    min-height: 431px;

    .header {
        display: flex;
        justify-content: center;

        img {
            height: 180px;
            width: 180px;
        }
    }

    .body {
        .brand {
            color: rgba(189, 189, 189);
            font-size: 12px;
            font-weight: bold;
        }

        .sub-brand {
            font-size: 12px;
            font-family: $brand-name-font;
        }

        .price {
            font-size: 12px;
        }

        .discount {
            color: rgba(208, 2, 27);
            font-weight: bold;
            min-height: 25px;
        }

        .tags {
            font-size: 11px;
            background: green;
            width: fit-content;
            padding: 0 6px;
            color: white;
            border-radius: 6px;
            border: none;
        }
    }

    .footer {
        display: flex;
        justify-content: center;

        p-button {
            font-weight: 400 !important;
            font-size: 12px;

            ::ng-deep .p-button-label {
                color: $main-color !important;
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px $base-input-color;
        transition: all ease-in-out .5s;
    }
}

.filter {
    ::ng-deep button {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 10px;
        background-color: $main-color !important;
    }
}

.not-found {
    height: 100vh;
}

h3,
::ng-deep.p-panel-title,
::ng-deep.label-checkbox {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::ng-deep.p-panel-title {
    font-weight: bold;
}