@use "../../../assets/styles/colors" as *;

footer {
    background-color: $main-color;
    padding: 50px;
    margin: 60px 0 0 0;

    h5 {
        margin-bottom: 40px;
    }

    :where(.categories, .social) {
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0 0 0 13px;

            li {
                list-style: none;

                a {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        text-decoration-line: underline;
                        text-decoration-color: black;
                    }
                }
            }
        }
    }

    .categories,
    .contact {
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background-color: black;
            position: absolute;
            top: 0;
            right: 0;
            opacity: .2;
        }
    }

    :where(.profile, .contact) {
        ul {
            padding: 0;

            li {
                list-style: none;

                a {
                    color: black;
                    text-decoration: none;

                    &:hover {
                        text-decoration-line: underline;
                        text-decoration-color: black;
                    }
                }
            }
        }
    }

    .social {
        li {
            list-style: none;
            background: $base-color;
            padding: 8px;
            border-radius: 23%;
            width: 41px;
            text-align: center;

            .pi {
                font-size: 1.5rem
            }

            :where(.pi-facebook) {
                &:hover {
                    color: cornflowerblue;
                }
            }

            :where(.pi-instagram) {
                &:hover {
                    color: red;
                }
            }

            ::ng-deep :where(.fa-snapchat) {
                &:hover {
                    color: yellow !important
                }
            }
        }
    }

    .copy-right {
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0 0 0 13px;

            li {
                list-style: none;

                a {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        text-decoration-line: underline;
                        text-decoration-color: black;
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 775px) {
    footer {

        .categories,
        .contact {
            position: relative;

            &::after {
                display: none;
            }
        }
    }

}