<footer>
    <div class="container">
        <div class="row">
            <div class="categories col-md-4 col-sm-6 col-12">
                <h5>{{"PopularCategories" | translate }}</h5>
                <ul class="row">
                    <li class="col-6 col-md-12 px-1"><a href="">Makeup</a></li>
                    <li class="col-6 col-md-12 px-1"><a href="">Perfume</a></li>
                    <li class="col-6 col-md-12 px-1"><a href="">Care</a></li>
                    <li class="col-6 col-md-12 px-1"><a href="">Nails</a></li>
                    <li class="col-6 col-md-12 px-1"><a href="">Accessories</a></li>
                    <li class="col-6 col-md-12 px-1"><a href="">Lenses</a></li>
                </ul>
            </div>
            <div class="contact col-md-3 col-sm-6 col-12">
                <div class="mx-5">
                    <h5>{{"ContactUs" | translate }}</h5>
                    <ul>
                        <li class="pb-3"><a>0540043934</a></li>
                    </ul>
                </div>
            </div>
            <div class="social col-md-3 col-sm-6 col-12">
                <div class="mx-5">
                    <h5>{{"Links" | translate }}</h5>
                    <ul>
                        <li><a target="_blank"
                                href="https://www.facebook.com/profile.php?id=61550683795334&mibextid=2JQ9oc">
                                <i class="pi pi-facebook"></i>
                            </a></li>
                        <li><a target="_blank" href="">
                                <fa-icon [icon]="faSnapchat"></fa-icon>
                            </a></li>
                        <li><a target="_blank" href="https://www.instagram.com/abaq.elanayah?utm_source=qr">
                                <i class="pi pi-instagram"></i>
                            </a></li>
                        <li><a target="_blank" href="https://www.tiktok.com/@abaq.elanayah?_t=8g2nAW70wqI&_r=1">
                                <fa-icon [icon]="faTiktok"></fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>