<footer>
    <div class="container">
        <div class="row">
            <div class="categories col-md-4 col-sm-6 col-12">
                <h5>Popular Categories</h5>
                <ul>
                    <li class="px-1"><a href="">Makeup</a></li>
                    <li class="px-1"><a href="">Perfume</a></li>
                    <li class="px-1"><a href="">Care</a></li>
                    <li class="px-1"><a href="">Nails</a></li>
                    <li class="px-1"><a href="">Accessories</a></li>
                    <li class="px-1"><a href="">Lenses</a></li>
                </ul>
            </div>
            <div class="profile col-md-2 col-sm-6 col-12">
                <div class="mx-5">
                    <h5>Profile</h5>
                    <ul>
                        <li class="pb-3"><a href="">Profile</a></li>
                        <li class="pb-3"><a href="">Orders</a></li>
                        <li class="pb-3"><a href="">Favourites</a></li>
                    </ul>
                </div>
            </div>
            <div class="contact col-md-3 col-sm-6 col-12">
                <div class="mx-5">
                    <h5>Contact Us</h5>
                    <ul>
                        <li class="pb-3"><a href="">csniceonesa.com</a></li>
                        <li class="pb-3"><a href="">help.niceonesa.com</a></li>
                        <li class="pb-3"><a href="">+966 92 003 3385</a></li>
                    </ul>
                </div>
            </div>
            <div class="social col-md-3 col-sm-6 col-12">
                <div class="mx-5">
                    <h5>Social</h5>
                    <ul>
                        <li><a href="">
                                <i class="pi pi-facebook"></i>
                            </a></li>
                        <li><a href="">
                                <i class="pi pi-linkedin"></i>
                            </a></li>
                        <li><a href="">
                            <i class="pi pi-instagram"></i>
                        </a></li>
                        <li><a href="">
                            <i class="pi pi-youtube"></i>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>