@use "../../../assets/styles/colors" as *;

.menu {
    background-color: $main-color;
    height: 68px;
    flex-wrap: nowrap;
    padding: 0 16px 16px;
}

::ng-deep .p-menubar {
    margin: 0 0 60px 0;
    background-color: $main-color;
    border: none;

    ul {
        margin-bottom: 0;
        margin-left: -160px;

        a {
            text-decoration: none;

            &:hover {
                color: black !important;
                text-decoration-color: black;
                text-decoration-line: underline;
            }
        }
    }

    .p-menuitem-content:hover {
        background: white;
    }

}

::ng-deep .p-menubar {
    height: 70px;

    p-menubarsub {
        position: relative;
        right: 40px;
        width: 100%;
        z-index: 1 !important;
    }

    a {
        svg {
            color: black !important;
        }
    }
}

::ng-deep {
    @media screen and (max-width: 960px) {
        .p-menubar {
            ul {
                margin-left: 30px;
            }
        }
    }
}


::ng-deep {
    @media (max-width: 767px) {

        .p-menubar,
        .menu {
            background-color: white !important;
        }

        .p-menubar {
            position: absolute;
            width: 80vw;

            ul {
                margin-left: 30px;
            }
        }

        .p-autocomplete {
            input {
                margin-left: 10px;
            }
        }
    }

}