@use "../../../assets/styles/colors" as *;

.menu {
    background-color: $main-color;
    height: 68px;
    flex-wrap: nowrap;
    padding: 0 16px 16px;
}

::ng-deep .p-menubar {
    margin: 0 0 60px 0;
    background-color: $main-color;
    border: none;

    .p-submenu-list {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: $main-color #f1f1f1;
        scroll-behavior: smooth;
    }

    ul {
        margin-bottom: 0;


        a {
            text-decoration: none;

            &:hover {
                color: black !important;
                text-decoration-color: black;
                text-decoration-line: underline;
            }
        }
    }

    .p-menuitem-content:hover {
        background: white;
    }

}


::ng-deep .dirAr {
    .p-menubar {
        ul {
            margin-left: -160px;
            padding: 0;

            a {
                justify-content: space-between;

                anglerighticon {
                    margin: 0;

                    svg {
                        rotate: 180deg;
                    }
                }
            }
        }

    }
}

::ng-deep .dirEn {
    .p-menubar {
        ul {
            margin-left: 30px;
        }
    }
}


::ng-deep .p-menubar {
    height: 70px;

    p-menubarsub {
        position: relative;
        right: 40px;
        width: 100%;
        z-index: 1 !important;
    }

    a {
        svg {
            color: black !important;
        }
    }
}

::ng-deep {
    @media screen and (max-width: 960px) {
        .dirAr {
            .p-menubar {
                ul {
                    margin-left: 30px;
                }
            }
        }
    }
}


::ng-deep {
    @media (max-width: 767px) {

        .p-menubar,
        .menu {
            background-color: white !important;
        }

        .p-menubar {
            position: absolute;
            width: 80vw;

            ul {
                margin-left: 30px;
            }
        }

        .dirAr {
            .p-menubar {
                ul {
                    margin-left: 30px;
                }
            }
        }

        .p-autocomplete {
            input {
                margin-left: 10px;
            }
        }
    }

}