@use "../../../assets/styles/colors" as *;
@use "../../../assets/styles/fonts" as *;

.product {
    padding: 10px;
    background-color: white;

    p-scrollPanel {
        img {
            width: 100%;
            border: 2px solid $base-color;
        }

        ::ng-deep .p-scrollpanel .p-scrollpanel-bar {
            background-color: black !important;
            width: 2px;
        }
    }

    .desc {
        word-break: break-all;

        img {
            max-width: 150px;
            max-height: 110px;
        }

        h6 {
            font-family: $brand-name-font;
        }

        h4 {
            font-family: $base-font;
            font-weight: bold;
        }

        .discount {
            color: rgba(208, 2, 27);
            font-weight: bold;
            min-height: 25px;
        }

        .description {
            max-height: 200px;
            overflow-y: scroll;
        }

        .footer {
            ::ng-deep button {
                width: 100%;
                text-align: center;
                color: white;
                margin-top: 20%;
            }
        }
    }

    ::ng-deep a {
        color: black !important;
        text-decoration: none;
    }

    .create-date {
        color: rgba(189, 189, 189);
        font-size: 12px;
    }

    ::ng-deep button {
        background-color: black !important;

    }
}

.add-review {
    ::ng-deep button {
        background-color: black !important;

    }
}

@media (max-width: 767px) {
    .footer {
        ::ng-deep button {
            margin-top: 0 !important;
        }
    }
}