<div class="container">
    <div class="row product">
        <div class="col-1">
            <p-scrollPanel [style]="{ width: '100%', height: '300px' }">
                <img width="80px" height="80px" *ngFor="let res of product?.productImgs" class="d-block mb-2"
                    src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}" [alt]="res.imagePath"
                    (click)="selectImage(res.imagePath)">
            </p-scrollPanel>
        </div>
        <div class="col-11 col-md-6">
            <img width="100%" height="500px" [alt]="selectedImage ? selectedImage : coverImage"
                [src]="selectedImage ? 'https://api-endpoint.abaqelanayah.com' + selectedImage : 'https://api-endpoint.abaqelanayah.com' + coverImage">
        </div>
        <div class="col-12 col-md-5 desc">
            <img class="d-block" src="https://api-endpoint.abaqelanayah.com{{product.imagePath}}"
                [alt]="product.imagePath">
            <h6 class="mt-2">{{product.name}}</h6>
            <div class="mt-2">
                {{"AvailableTotalQuantity" | translate}}: {{product.qty ? product.qty : 0}}
                <span *ngIf="qntySize || qntyColors"> ({{"AvailableQuantity" | translate}}: {{qntySize ? qntySize :
                    qntyColors}})</span>
            </div>
            <div class="mt-2">
                <p-rating [(ngModel)]="product.rateValue" [readonly]="true"
                    [cancel]="false"></p-rating>({{product.totalRate}})
            </div>
            <h4 class="d-inline-block mt-2"
                [ngStyle]="{'text-decoration-line': product.discountPercentage ? 'line-through' : 'none'}">{{"SAR" |
                translate}}
                {{product['vat'] ? (product.price | addVat) : product.price}}</h4> <span *ngIf="product['vat']">
                ({{"VATIncluded" | translate}})</span>
            <h4 class="discount mt-2" *ngIf="product.discountPercentage && !product.vat">{{"SAR" | translate}}
                {{+product.price - ((+product.discountPercentage
                /
                100 ) * +product.price) | trimDecimalPipe}}</h4>
            <h4 class="discount mt-2" *ngIf="product.discountPercentage && product.vat">{{"SAR" | translate}}
                {{(product.price | addVat) - ((+product.discountPercentage
                /
                100 ) * (product.price | addVat)) | trimDecimalPipe}}</h4>
            <div class="flex flex-wrap gap-3 mt-2">
                <div class="flex align-items-center">
                    <ng-container *ngFor="let res of attributeValuesSizes">
                        <p-radioButton (ngModelChange)="change($event, 'Sizes')" [name]="res.value" [(ngModel)]="sizes"
                            [value]="res.value" inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2 mx-2">{{res.value}}</label>
                    </ng-container>
                </div>
                <div class="flex align-items-center">
                    <ng-container *ngFor="let res of attributeValuesColors">
                        <p-radioButton (ngModelChange)="change($event, 'Colors')" [name]="res.value"
                            [(ngModel)]="colors" [value]="res.value" inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2 mx-2" [style.color]="res.value">{{res.value}}</label>
                    </ng-container>
                </div>
            </div>
            <p class="description mt-2">{{product.description}}</p>
            <span class="danger mt-2" *ngIf="textNotFoundMessageSize">{{textNotFoundMessageSize}}</span>
            <span class="danger mt-2" *ngIf="textNotFoundMessageColor">{{textNotFoundMessageColor}}</span>
            <div class="footer">
                <p-button [label]="'AddToCart' | translate" [raised]="true" [icon]="Cart"
                    (onClick)="addCart({vat: product.vat,id:product.id, name: product.name, price: product.price, discountPercentage: product.discountPercentage, coverImg: coverImage, qty: getQuantityToCart(product.qty), attrValueId: attributeId, attributeValue: attributeValue})"
                    [disabled]="!!textNotFoundMessageSize || !!textNotFoundMessageColor  || !product.qty"></p-button>
            </div>
        </div>

        <p-tabView>
            <p-tabPanel [header]="'Reviews' | translate">
                <div class="row text-end">
                    <p-button [label]="'AddReview' | translate" (click)="showDialog()" [raised]="true"></p-button>
                </div>
                <div class="card p-3 m-2" *ngFor="let res of Review">
                    <div><p-rating [(ngModel)]="res.rate" [readonly]="true" [cancel]="false"></p-rating></div>
                    <div>{{res.customerName}}</div>
                    <span class="create-date">{{res.createdOn | date}}</span>
                    <div>{{res.comment}}</div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<p-dialog [header]="'AddReview' | translate" [(visible)]="visible" [style]="{width: '50vw'}">
    <div>
        <p-rating [(ngModel)]="addReview.rate" [cancel]="false"></p-rating>
    </div>
    <div>
        <label style="display: block;">{{"Comment" | translate}}</label>
        <textarea rows="5" cols="50" pInputTextarea [(ngModel)]="addReview.comment"></textarea>
    </div>
    <div class="text-end add-review">
        <p-button [label]="'Add' | translate" (click)="addReviewToProduct()" [raised]="true"></p-button>
    </div>
</p-dialog>