<div class="container">
    <div class="row">
        <div class="col-md-2 col-12" *ngIf="Brands && !isMobile">
            <p-panel [header]="'Brand' | translate" [toggleable]="true" [collapsed]="true">
                <div class="my-1" *ngFor="let res of Brands">
                    <p-checkbox class="me-2 ms-2" [binary]="true" inputId="binary" [value]="res.id"
                        (onChange)="selectSearch($event.checked, res.id)"></p-checkbox>
                    <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
                </div>
            </p-panel>
            <p-panel [header]="'Category' | translate" [toggleable]="true" [collapsed]="true">
                <div class="my-1" *ngFor="let res of Category">
                    <p-checkbox class="me-2 ms-2" [binary]="true" inputId="binary" [value]="res.id"
                        (onChange)="selectSearchCategory($event.checked, res.id)"></p-checkbox>
                    <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
                </div>
            </p-panel>
            <p-panel [header]="'Price' | translate" [toggleable]="true" [collapsed]="true">
                <div>
                    <div>
                        <label for="">{{"From" | translate}}</label>
                        <input type="number" class="form-control" [placeholder]="'From' | translate"
                            [(ngModel)]="rangePrice[0]">
                    </div>
                    <div>
                        <label for="">{{"To" | translate}}</label>
                        <input type="number" class="form-control" [placeholder]="'To' | translate"
                            [(ngModel)]="rangePrice[1]">
                    </div>
                </div>
            </p-panel>
            <div class="filter">
                <p-button class="filter-btn" (onClick)="productsService.pageNo = 1;first=1;filter()"
                    [label]="'Filter' | translate" [text]="true" severity="help"></p-button>
            </div>
        </div>

        <div class="col-md-2 col-12" *ngIf="Brands && isMobile">
            <button (click)="openFilterSideBar()" class="btn filter-icon">
                <i class="pi pi-filter"></i>
            </button>
        </div>
        <div class="col-md-10 col-12">
            <ng-container *ngIf="titlePage">
                <div class="row">
                    <h3>{{titlePage | translate}}</h3>
                    <div class="col-6 col-sm-4" *ngFor="let res of Products$ | async">
                        <div class="mb-1 p-2 card">
                            <span (click)="navigateToProduct(res.id)">
                                <div class="header">
                                    <img src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}"
                                        [alt]="res.imagePath">
                                </div>
                                <div class="body">
                                    <div class="brand">{{res.brandName}}</div>
                                    <div class="sub-brand mb-3">{{res.name}}</div>
                                    <div>
                                        <p-rating [(ngModel)]="res.rateValue" [readonly]="true"
                                            [cancel]="false"></p-rating>
                                    </div>
                                    <div class="tags" *ngIf="res.tag || res.tag === 0">
                                        {{Tags[res.tag]}}
                                    </div>
                                    <div class="price"
                                        [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                                        {{"SAR" | translate}}
                                        {{res.price}}<span> ({{"VATIncluded" | translate}})</span>
                                    </div>
                                    <div class="discount">
                                        <span *ngIf="res.discountPercentage">
                                            {{"SAR" | translate}}
                                            {{+res.price - ((+res.discountPercentage
                                            /
                                            100 ) * +res.price) | trimDecimalPipe}}
                                        </span>
                                    </div>
                                </div>
                            </span>
                            <hr>
                            <div class="footer">
                                <p-button *ngIf="!res.hasAttr" [icon]="Cart"
                                    (onClick)="addCart({id:res.id, name: res.name, price: res.price, discountPercentage: res.discountPercentage, coverImg: res.imagePath, qty: res.qty})"
                                    [label]="('AddToCart' | translate)" [text]="true" severity="help"
                                    [disabled]="!res.qty"></p-button>
                                <p-button *ngIf="res.hasAttr" (onClick)="navigateToProduct(res.id)"
                                    [label]="'ViewProduct' | translate" [text]="true" severity="help"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-auto mt-4">
                    <p-paginator dir="auto" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                        [totalRecords]="totalCount"></p-paginator>
                </div>
            </ng-container>
            <ng-container *ngIf="!totalCount">
                <h3 class="text-center my-5 not-found">{{"NotFoundProducts" | translate}}</h3>
            </ng-container>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" [position]="lang === 'en' ? 'left' : 'right'">
    <p-panel [header]="'Brand' | translate" [toggleable]="true" [collapsed]="true">
        <div class="my-1" *ngFor="let res of Brands">
            <p-checkbox class="me-2 ms-2" [binary]="true" inputId="binary" [value]="res.id"
                (onChange)="selectSearch($event.checked, res.id)"></p-checkbox>
            <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
        </div>
    </p-panel>
    <p-panel [header]="'Category' | translate" [toggleable]="true" [collapsed]="true">
        <div class="my-1" *ngFor="let res of Category">
            <p-checkbox class="me-2 ms-2" [binary]="true" inputId="binary" [value]="res.id"
                (onChange)="selectSearchCategory($event.checked, res.id)"></p-checkbox>
            <label class="label-checkbox" for="binary">{{res.name | uppercase}}</label>
        </div>
    </p-panel>
    <p-panel [header]="'Price' | translate" [toggleable]="true" [collapsed]="true">
        <div>
            <div>
                <label for="">{{"From" | translate}}</label>
                <input type="number" class="form-control" [placeholder]="'From' | translate"
                    [(ngModel)]="rangePrice[0]">
            </div>
            <div>
                <label for="">{{"To" | translate}}</label>
                <input type="number" class="form-control" [placeholder]="'To' | translate" [(ngModel)]="rangePrice[1]">
            </div>
        </div>
    </p-panel>
    <div class="filter">
        <p-button class="filter-btn" (onClick)="productsService.pageNo = 1;first=1;filter()"
            [label]="'Filter' | translate" [text]="true" severity="help"></p-button>
    </div>
</p-sidebar>