<div class="container-fluid">
    <div class="row categories" *ngIf="selectedCategories?.length">
        <a *ngFor="let res of selectedCategories" (click)="categories(res.id)">
            <img [src]="res.imagePath ? 'https://api-endpoint.abaqelanayah.com' + res.imagePath : 'assets/ICON.png'"
                [alt]="res.imagePath">
            <h4>{{res.name}}</h4>
        </a>
    </div>
    <div class="row advertisement" *ngIf="discountAdvertisement?.length">
        <p-carousel dir="ltr" [value]="discountAdvertisement" [numVisible]="1" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-res pTemplate="item">
                <img (click)="advertisement(res.brandId, res.categoryId, res.discount, res.tag)"
                    src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}" [alt]="res.imagePath">
            </ng-template>
        </p-carousel>
    </div>
    <div class="recentProducts row" *ngIf="RecentProducts?.length">
        <div class="row">
            <div class="col-6">
                <h4>{{"RecentProducts" | translate}}</h4>
            </div>
            <div class="col-6 more" [ngClass]="lang === 'ar' ?'text-start' : 'text-end'">
                <a (click)="recentProductsPage()">{{"MoreThan" | translate}}</a>
            </div>
        </div>
        <p-carousel dir="ltr" [value]="RecentProducts" [numVisible]="6" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveCardOptions" [styleClass]="lang === 'ar' ? 'rtl-carousel' : ''">
            <ng-template let-res pTemplate="item">
                <div class="m-1 p-2 card">
                    <span (click)="navigateToProduct(res.id)">
                        <div class="header">
                            <img src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}" [alt]="res.imagePath">
                        </div>
                        <div class="body">
                            <div class="brand">{{res.brandName}}</div>
                            <div class="sub-brand mb-3">{{res.name}}</div>
                            <div>
                                <p-rating [(ngModel)]="res.rateValue" [readonly]="true" [cancel]="false"></p-rating>
                            </div>
                            <div class="tags" *ngIf="res.tag || res.tag === 0">
                                {{Tags[res.tag]}}
                            </div>
                            <div class="price" [dir]="direction">
                                <span
                                    [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                                    {{(res['vat'] ? (res.price | addVat) : res.price) | trimDecimalPipe}} {{"SAR" |
                                    translate}}</span>
                                <span *ngIf="res['vat']"> ({{"VATIncluded" | translate}})</span>
                            </div>
                            <div class="discount" [dir]="direction">
                                <span *ngIf="res.discountPercentage && !res['vat']">
                                    {{(+res.price - ((+res.discountPercentage
                                    /
                                    100 ) * +res.price)) | trimDecimalPipe}}
                                    {{"SAR" | translate}}
                                </span>
                                <span *ngIf="res.discountPercentage && res['vat']">
                                    {{(+(res.price | addVat) - ((+res.discountPercentage
                                    /
                                    100 ) * +(res.price | addVat))) | trimDecimalPipe}}
                                    {{"SAR" | translate}}
                                </span>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <div class="footer">
                        <p-button *ngIf="!res.hasAttr" [icon]="Cart"
                            (onClick)="addCart({vat: res.vat,id:res.id, name: res.name, price: res.price, discountPercentage: res.discountPercentage, coverImg: res.imagePath, qty: res.qty})"
                            [label]="'AddToCart' | translate" [text]="true" severity="help"
                            [disabled]="!res.qty"></p-button>
                        <p-button *ngIf="res.hasAttr" (onClick)="navigateToProduct(res.id)"
                            [label]="'ViewProduct' | translate" [text]="true" severity="help"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="row advertisement" *ngIf="brandIdAdvertisement?.length">
        <h4>{{"Brands" | translate}}</h4>
        <p-carousel dir="ltr" [value]="brandIdAdvertisement" [numVisible]="1" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-res pTemplate="item">
                <img (click)="navigateToBrands(res.brandId)"
                    src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}" [alt]="res.imagePath">
            </ng-template>
        </p-carousel>
    </div>

    <div class="recentProducts row" *ngIf="BestProducts?.length">
        <div class="row">
            <div class="col-6">
                <h4>{{"BestProducts" | translate}}</h4>
            </div>
            <div class="col-6 more" [ngClass]="lang === 'ar' ?'text-start' : 'text-end'">
                <a (click)="bestProductsPage()">{{"MoreThan" | translate}}</a>
            </div>
        </div>
        <p-carousel dir="ltr" [value]="BestProducts" [numVisible]="6" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveCardOptions" [styleClass]="lang === 'ar' ? 'rtl-carousel' : ''">
            <ng-template let-res pTemplate="item">
                <div class="m-1 p-2 card">
                    <span (click)="navigateToProduct(res.id)">
                        <div class="header">
                            <img src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}" [alt]="res.imagePath">
                        </div>
                        <div class="body">
                            <div class="brand">{{res.brandName}}</div>
                            <div class="sub-brand mb-3">{{res.name}}</div>
                            <div>
                                <p-rating [(ngModel)]="res.rateValue" [readonly]="true" [cancel]="false"></p-rating>
                            </div>
                            <div class="tags" *ngIf="res.tag || res.tag === 0">
                                {{Tags[res.tag]}}
                            </div>
                            <div class="price" [dir]="direction">
                                <span
                                    [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                                    {{(res['vat'] ? (res.price | addVat) : res.price) | trimDecimalPipe}} {{"SAR" | translate}} </span>
                                <span *ngIf="res['vat']"> ({{"VATIncluded" | translate}})</span>
                            </div>
                            <div class="discount" [dir]="direction">
                                <span *ngIf="res.discountPercentage && !res['vat']">
                                    {{(+res.price - ((+res.discountPercentage
                                    /
                                    100 ) * +res.price)) | trimDecimalPipe}}
                                    {{"SAR" | translate}}
                                </span>
                                <span *ngIf="res.discountPercentage && res['vat']">
                                    {{(+(res.price | addVat) - ((+res.discountPercentage
                                    /
                                    100 ) * +(res.price | addVat))) | trimDecimalPipe}}
                                    {{"SAR" | translate}}
                                </span>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <div class="footer">
                        <p-button *ngIf="!res.hasAttr" [icon]="Cart"
                            (onClick)="addCart({vat: res.vat,id:res.id, name: res.name, price: res.price, discountPercentage: res.discountPercentage, coverImg: res.imagePath, qty: res.qty})"
                            [label]="'AddToCart' | translate" [text]="true" severity="help"
                            [disabled]="!res.qty"></p-button>
                        <p-button *ngIf="res.hasAttr" (onClick)="navigateToProduct(res.id)"
                            [label]="'ViewProduct' | translate" [text]="true" severity="help"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="recentProducts row" *ngIf="MostPopularProducts?.length">
        <div class="row">
            <div class="col-6">
                <h4>{{"MostPopularProducts" | translate}}</h4>
            </div>
            <div class="col-6 more" [ngClass]="lang === 'ar' ?'text-start' : 'text-end'">
                <a (click)="mostPopularProducts()">{{"MoreThan" | translate}}</a>
            </div>
        </div>
        <p-carousel dir="ltr" [value]="MostPopularProducts" [numVisible]="6" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveCardOptions" [styleClass]="lang === 'ar' ? 'rtl-carousel' : ''">
            <ng-template let-res pTemplate="item">
                <div class="m-1 p-2 card">
                    <span (click)="navigateToProduct(res.id)">
                        <div class="header">
                            <img src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}" [alt]="res.imagePath">
                        </div>
                        <div class="body">
                            <div class="brand">{{res.brandName}}</div>
                            <div class="sub-brand mb-3">{{res.name}}</div>
                            <div>
                                <p-rating [(ngModel)]="res.rateValue" [readonly]="true" [cancel]="false"></p-rating>
                            </div>
                            <div class="tags" *ngIf="res.tag || res.tag === 0">
                                {{Tags[res.tag]}}
                            </div>
                            <div class="price" [dir]="direction">
                                <span
                                    [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                                    {{(res['vat'] ? (res.price | addVat) : res.price) | trimDecimalPipe}} {{"SAR" | translate}}
                                </span>
                                <span *ngIf="res['vat']"> ({{"VATIncluded" | translate}})</span>
                            </div>
                            <div class="discount" [dir]="direction">
                                <span *ngIf="res.discountPercentage && !res['vat']">
                                    {{(+res.price - ((+res.discountPercentage
                                    /
                                    100 ) * +res.price)) | trimDecimalPipe}}
                                    {{"SAR" | translate}}
                                </span>
                                <span *ngIf="res.discountPercentage && res['vat']">
                                    {{(+(res.price | addVat) - ((+res.discountPercentage
                                    /
                                    100 ) * +(res.price | addVat))) | trimDecimalPipe}}
                                    {{"SAR" | translate}}
                                </span>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <div class="footer">
                        <p-button *ngIf="!res.hasAttr"
                            (onClick)="addCart({vat: res.vat,id:res.id, name: res.name, price: res.price, discountPercentage: res.discountPercentage, coverImg: res.imagePath, qty: res.qty})"
                            [label]="('AddToCart' | translate)" [text]="true" severity="help"
                            [disabled]="!res.qty"></p-button>
                        <p-button *ngIf="res.hasAttr" (onClick)="navigateToProduct(res.id)"
                            [label]="'ViewProduct' | translate" [text]="true" severity="help"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>