@use "../../../assets/styles/colors" as *;
@use "../../../assets/styles/fonts" as *;


::ng-deep.container-fluid {
    max-width: 1400px;
    margin-bottom: 92px;

    .categories {
        a {
            text-align: center;
            text-decoration: none;
            color: black;
            cursor: pointer;
            width: calc(100% / 8);

            img {
                width: 100px;
                height: 100px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
            }

            h4 {
                margin-top: 10px;
            }
        }
    }

    .advertisement {
        margin-top: 50px;

        img {
            width: 100%;
            height: 300px;
            border-radius: 5px;
        }

        .p-carousel-container {
            position: relative;

        }

        .p-carousel-prev,
        .p-carousel-next {
            position: absolute;
            top: 50%;
            z-index: 1;
            background-color: white;
            border-radius: 50%;
            padding: 20px;
        }

        .p-carousel-next {
            right: 0;
        }

    }

    .recentProducts {
        margin-top: 50px;

        .card {
            border: none;
            min-height: 431px;
            height: 97%;

            .header {
                display: flex;
                justify-content: center;

                img {
                    height: 180px;
                    width: 180px;
                }
            }

            .body {
                .brand {
                    color: rgba(189, 189, 189);
                    font-size: 12px;
                    font-weight: bold;
                }

                .sub-brand {
                    font-size: 12px;
                    font-family: $brand-name-font;
                }

                .price {
                    font-size: 12px;
                }

                .discount {
                    color: rgba(208, 2, 27);
                    font-weight: bold;
                    min-height: 25px;
                }

                .tags {
                    font-size: 11px;
                    background: green;
                    width: fit-content;
                    padding: 0 6px;
                    color: white;
                    border-radius: 6px;
                    border: none;
                }
            }

            .footer {
                display: flex;
                justify-content: center;

                ::ng-deep p-button {
                    font-weight: 400 !important;
                    font-size: 12px;

                    .p-button-label,
                    .pi-shopping-cart {
                        color: black !important;
                    }
                }
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px $base-input-color;
                transition: all ease-in-out .5s;
            }
        }
    }
}

.more {
    cursor: pointer;
    text-decoration: underline;
}

::ng-deep.p-carousel-indicators {
    display: none;
}

@media (max-width: 760px) {
    ::ng-deep.container-fluid {
        margin-top: 182px;
    }

    .advertisement {
        margin-top: 32px;
    }

    .recentProducts {
        margin-top: 32px;
    }

}

@media (max-width: 850px) {
    .container-fluid {
        .categories {
            a {
                width: calc(100% / 4);

                img {
                    width: 100%;
                    max-width: 200px;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    height: auto;
                }

                h4 {
                    font-size: 14px;
                }
            }
        }

        .advertisement {
            img {
                height: 200px;
            }
        }
    }
}


@media (max-width: 500px) {
    .container-fluid {
        .advertisement {
            img {
                height: 100px;
            }

            ::ng-deep.p-carousel-prev,
            ::ng-deep.p-carousel-next {
                top: 37%;
                padding: 0;
            }
        }

        .card {
            width: 178px;
        }

        h4 {
            font-size: 16px;
        }
    }
}

::ng-deep .p-rating .p-rating-icon {
    color: $main-color;
}