<div [dir]="direction ? direction : 'ltr'" style="overflow: hidden;">
    <div class="header">
        <app-nav-header></app-nav-header>
        <app-navbar></app-navbar>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>

    <div *ngIf="(loadingService.isLoading | async) != 0" class="overlay">
    </div>

    <div *ngIf="(loadingService.isLoading | async) != 0" class="flex justify-content-center align-items-center loader">
            <img src="assets/Abaq Icon Animation Yellow.gif" alt="">
    </div>
</div>