.container {
    display: flex;
    justify-content: center;

    form {
        background-color: white;
        border-radius: 20px;
        width: 35vw;

        .input {
            margin: 20px;

            input,
            ::ng-deep .p-password,
            ::ng-deep .p-password-input,
            ::ng-deep p-inputmask,
            ::ng-deep .p-inputmask {
                display: block;
                width: 100%;
            }

            .phone {
                display: flex;
                span {
                    padding: 10px;
                    border: 1px solid #d1d5db;
                    font-weight: bolder;
                }
            }

        }

        .invalid {
            color: red;
        }

        .footer {
            text-align: center;

            p-button {
                ::ng-deep button {
                    margin: 25px 0;
                    width: 464px;
                    border-radius: 50px;
                    background-color: black !important;
                }
            }

        }
    }

    @media (min-width: 700px) and (max-width: 1320px) {
        p-button {
            ::ng-deep button {
                width: 240px !important;
            }
        }
    }

    @media (min-width: 400px) and (max-width: 700px) {
        p-button {
            ::ng-deep button {
                width: 100px !important;
            }
        }
    }

    @media only screen and (max-width: 1320px) {
        .title {
            img {
                width: 230px;
            }
        }
    }
}