<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="flex flex-column gap-2">
            <div class="text-center">
                <div>
                    <img [src]="direction === 'rtl' ? 'assets/Abaq Elanayah Web Logo.svg' :'assets/Abaq Elanayah Web Logo En.svg'"
                        width="300px" height="300px" alt="ICON">
                </div>
            </div>
            <div class="input">
                <label for="FirstName">{{"FirstName" | translate}}</label>
                <input pInputText [placeholder]="'FirstName' | translate"
                    [ngClass]="submitted && registerForm.get('FirstName')?.invalid ? 'ng-invalid ng-dirty' : ''"
                    id="FirstName" aria-describedby="FirstName-help" formControlName="FirstName" required />
                <span *ngIf="submitted && registerForm.get('FirstName')?.errors?.['required']" class="invalid">
                    {{"FirstName" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="input">
                <label for="LastName">{{"LastName" | translate}}</label>
                <input pInputText [placeholder]="'LastName' | translate"
                    [ngClass]="submitted && registerForm.get('LastName')?.invalid ? 'ng-invalid ng-dirty' : ''"
                    id="LastName" aria-describedby="LastName-help" formControlName="LastName" required />
                <span *ngIf="submitted && registerForm.get('LastName')?.errors?.['required']" class="invalid">
                    {{"LastName" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="input">
                <label for="username">{{"Username" | translate}}</label>
                <input pInputText [placeholder]="'Username' | translate"
                    [ngClass]="submitted && registerForm.get('username')?.invalid ? 'ng-invalid ng-dirty' : ''"
                    id="username" aria-describedby="username-help" formControlName="username" required />
                <span *ngIf="submitted && registerForm.get('username')?.errors?.['required']" class="invalid">
                    {{"Username" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="input">
                <label for="email">{{"Email" | translate}}</label>
                <input pInputText type="email" [placeholder]="'Email' | translate"
                    [ngClass]="submitted && registerForm.get('email')?.invalid ? 'ng-invalid ng-dirty' : ''" id="email"
                    aria-describedby="email-help" formControlName="email" />
                <span *ngIf="submitted && registerForm.get('email')?.errors?.['required']" class="invalid">
                    {{"Email" | translate}} {{"isRequired" | translate}}
                </span>
                <span *ngIf="submitted && registerForm.get('email')?.errors?.['email']" class="invalid">
                    {{"EnterAValidEmailAddress" | translate}}
                </span>
            </div>
            <div class="input">
                <label for="password">{{"Password" | translate}}</label>
                <p-password formControlName="password" [placeholder]="'Password' | translate">
                    <ng-template pTemplate="header">
                        <h6>{{"PickAPassword" | translate}}</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">{{"Suggestions" | translate}}</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                            <li>{{"AtLeastOneLowercase" | translate}}</li>
                            <li>{{"AtLeastOneUppercase" | translate}}</li>
                            <li>{{"AtLeastOneNumeric" | translate}}</li>
                            <li>{{"Minimum8Characters" | translate}}</li>
                        </ul>
                    </ng-template>
                </p-password>
                <span *ngIf="submitted && registerForm.get('password')?.errors?.['required']" class="invalid">
                    {{"Password" | translate}} {{"isRequired" | translate}}
                </span>
                <span *ngIf="submitted && registerForm.get('password')?.errors?.['pattern']?.['requiredPattern']"
                    class="invalid">
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>{{"AtLeastOneLowercase" | translate}}</li>
                        <li>{{"AtLeastOneUppercase" | translate}}</li>
                        <li>{{"AtLeastOneNumeric" | translate}}</li>
                        <li>{{"Minimum8Characters" | translate}}</li>
                    </ul>
                </span>
            </div>
            <div class="input">
                <label for="phone">{{"Phone" | translate}}</label>
                <div class="phone">
                    <div>+966</div><input pInputText formControlName="phone" placeholder="570xxxxxx" />
                </div>
                <span *ngIf="submitted && registerForm.get('phone')?.errors?.['required']" class="invalid">
                    {{"Phone" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="text-center">
                <a (click)="goToLogin()">{{"Login" | translate}}</a>
            </div>
        </div>
        <div class="footer">
            <p-button type="submit" [label]="'Register' | translate"></p-button>
        </div>
    </form>
</div>