@import "../../../assets/styles/colors.scss";

nav {
    padding: 16px 16px 0 16px;
    background-color: #ffdd01;
    ::ng-deep {
        .p-dropdown .p-dropdown-label {
            padding-inline: 0 !important;
        }
    }
    .row {
        width: 100% !important;

        .logo {
            cursor: pointer;
        }

        ::ng-deep.p-dropdown {
            border: none;
            background: transparent;

            ul {
                padding-left: 0;

                img {
                    width: 18px;
                }
            }

            .conuntryName {
                display: inline-block;
                margin-left: 5px;
            }
        }

        a {
            color: #4b5563;
            text-decoration: none;
            margin-right: 15px;
            cursor: pointer;
        }

        ::ng-deep .p-badge {
            min-width: 1rem;
            height: 1rem;
            line-height: 1rem;
            font-size: 12px;
        }
    }

}

::ng-deep.mask {
    input {
        width: 100% !important;
    }
}

::ng-deep.p-sidebar-left {
    width: 26rem;

    .card {
        img {
            vertical-align: middle;
            width: 36px;
            height: 36px;
        }

        .discount {
            color: rgba(208, 2, 27);
            font-weight: bold;
            min-height: 25px;
        }

        button,
        input {
            width: 100%;
            height: 40px;
        }

        .clear {
            cursor: pointer;
            font-weight: bolder;
            font-size: 20px;
        }
    }

    .footer {
        ::ng-deep button {
            width: 100%;
            background-color: $main-color;
            height: 43px;
            border: none;
            border-radius: 150px;
            color: #231F20;
        }
    }

}

.summary {
    background: #f3f3f3 !important;
    border-radius: 10px;
}

.footer {
    .address {
        ::ng-deep button {
            background-color: black;
            height: 43px;
            border: none;
            border-radius: 150px;
            color: white;
        }
    }

    input:disabled,
    ::ng-deep.p-disabled {
        background: #e3e3e3 !important;
    }

    input::placeholder,
    ::ng-deep.p-dropdown-label.p-placeholder,
    ::ng-deep.p-dropdown .p-dropdown-label {
        color: #908f8f;
        font-family: "Cairo", sans-serif !important;
    }

    ::ng-deep .p-dropdown {
        width: 100%;
        padding: 0 8px;
    }
}

::ng-deep .p-badge.p-badge-warning,
button {
    background-color: black;
    height: 43px;
    border: none;
    border-radius: 150px;
    color: white;
}

::ng-deep .p-dropdown-items {
    padding: 0;
}

// ::ng-deep .p-dropdown-label {
//     padding: 0;
// }

.pi {
    margin: 5px;
}

::ng-deep .p-dropdown-trigger {
    justify-content: start;
    width: 1rem;
}

.register {
    ::ng-deep .p-dropdown-label {
        padding: 0;
        display: none;
    }

}


::ng-deep .p-autocomplete {
    width: 100%;
    margin-top: 5px;

    .pi-search {
        color: $base-input-color;
    }

    input {
        background-color: $base-color;
        border: none;
        width: 100%;
        color: $base-input-color;

        // &:focus,
        // &:hover {
        //     outline: none !important;
        //     border: 1px solid $base-input-color;
        //     box-shadow: 0 0 10px $base-input-color;
        // }
    }
}

.deliveryStatus,
.footer {
    ::ng-deep .p-dropdown {
        width: 100%;
        padding-inline: 10px;
    }
}

.status {
    color: white;
    padding: 3px 9px 7px 10px;
    border-radius: 18px;
}

@media (min-width: 767px) and (max-width: 1600px) {
    .main-image {
        width: 80%;
    }
}

@media (max-width: 767px) {
    nav {
        background-color: white;

        .search {
            display: none;
        }
    }
}

// @media (max-width: 500px) {
//     ::ng-deep {
//         .p-sidebar-left {
//             .p-dropdown-label {
//                 padding: 0;
//             }
//         }
//     }

// }