nav {
    background-color: white;

    .row {
        width: 100% !important;

        ::ng-deep.p-dropdown {
            border: none;


            ul {
                padding-left: 0;

                img {
                    width: 18px;
                }
            }

            .conuntryName {
                display: inline-block;
                margin-left: 5px;
            }
        }

        a {
            color: #4b5563;
            text-decoration: none;
            margin-right: 15px;
            cursor: pointer;
        }
    }

}

::ng-deep.p-sidebar-left {
    width: 35rem;

    .card {
        img {
            vertical-align: middle;
            width: 60px;
            height: 60px;
        }

        .discount {
            color: rgba(208, 2, 27);
            font-weight: bold;
            min-height: 25px;
        }
        button,input {
            width: 100%;
            height: 40px;
        }

        .clear {
            cursor: pointer;
            font-weight: bolder;
            font-size: 20px;
        }
    }

}