<nav>
    <div class="row">
        <div class="col-12 col-md-4 text-start logo" (click)="navigateToHome()">
            <img class="ms-5 my-1" src="assets/ICON.png" width="50px" height="50px" alt="">
        </div>
        <div class="col-12 col-md-4 text-center">
            <img class="my-1" src="assets/textEN.png" width="300px" height="50px" alt="">
        </div>
        <div class="col-12 col-md-4 text-end">
            <a (click)="showSideBar()" class="pi pi-shopping-bag" severity="warning" pBadge
                [value]="'' + cartService.getCartength ? cartService.getCartength : 0"></a>
            <p-dropdown [options]="countries" [(ngModel)]="selectedLanguage" optionLabel="name">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
                        <img [src]="selectedLanguage.image" [class]="'flag flag-' + selectedLanguage.code.toLowerCase()"
                            style="width: 18px" />
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <img [src]="country.image" [class]="'flag flag-' + country.code.toLowerCase()" />
                        <div class="conuntryName">{{ country.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-dropdown *ngIf="!user" [options]="users" [(ngModel)]="selectedUsers" optionLabel="name"
                (ngModelChange)="navigateToSign($event)" placeholder="My Account"></p-dropdown>
            <a *ngIf="user" (click)="logOut()">LogOut</a>
        </div>
    </div>
</nav>

<p-sidebar [(visible)]="sidebarVisible">
    <h3>Cart</h3>
    <span *ngFor="let res of carts" class="card mb-2">
        <div class="row m-2">
            <div class="col-2">
                <img class="d-block" [src]="sanitizationImage(res.coverImg)" alt="">
            </div>
            <div class="col-8">
                <div>
                    {{res.name}}
                </div>
                <div>
                    Available Quantity: {{res.qty}}
                </div>
                <div class="price">
                    <span [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                        SAR {{res.price}}</span>
                    <span> (VAT included)</span>
                </div>
                <div class="discount" *ngIf="res.discountPercentage">SAR {{(+res.discountPercentage
                    /
                    +res.price ) * 100 | trimDecimalPipe}}</div>
            </div>
            <div class="col-2">
                <div class="text-end mb-2 clear" (click)="clear(res.id)">X</div>
                <p-inputNumber (ngModelChange)="changeTotalPrice($event, res.id)"  [min]="1" [(ngModel)]="qty" [showButtons]="true" buttonLayout="vertical"
                    spinnerMode="vertical" inputId="vertical" decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"></p-inputNumber>
            </div>
        </div>
    </span>
    <div *ngIf="carts?.length" class="footer">
        <div class="row">
            <div class="col-12 col-md-6 my-1" *ngIf="totalPrice">
                <h4 style="display: inline-block;">Total Price</h4>: {{totalPrice}}
            </div>
            <div class="col-12 col-md-6 my-1">
                <p-dropdown class="deliveryStatus" [(ngModel)]="deliveryType" [options]="deliveryStatus" optionLabel="name"
                    [showClear]="true" placeholder="Receiving the order"></p-dropdown>
            </div>
            <div class="col-12 my-2" *ngIf="address">
                <h4 style="display: inline-block;">Address</h4>: {{address.city}} - {{address.area}} -
                {{address.street}}
            </div>
        </div>
        <p-button [disabled]="deliveryType === null || deliveryType === undefined" (click)="placeOrder()"
            [label]="'Place Order'" [raised]="true"></p-button>
    </div>
</p-sidebar>


<p-dialog class="dialog-address" header="Address" [(visible)]="visible" [position]="'top'" [style]="{ width: '50vw' }">
    <form [formGroup]="AddressForm" (ngSubmit)="saveAddress()">
        <div class="row">
            <div class="col-12 col-md-6 mt-1">
                <p-dropdown class="w-100" formControlName="city" [options]="cities" optionLabel="name"
                    [showClear]="true" placeholder="Select a City"></p-dropdown>
                <span *ngIf="submitted && AddressForm.get('city')?.errors?.['required']" class="invalid">
                    City is required
                </span>
            </div>
            <div class="col-12 col-md-6 mt-1">
                <p-dropdown class="w-100" formControlName="area" [options]="cities" optionLabel="name"
                    [showClear]="true" placeholder="Select a Area"></p-dropdown>
                <span *ngIf="submitted && AddressForm.get('area')?.errors?.['required']" class="invalid">
                    Area is required
                </span>
            </div>
            <div class="col-12 col-md-6 mt-1">
                <input class="w-100" formControlName="street" type="text" pInputText placeholder="street" />
                <span *ngIf="submitted && AddressForm.get('street')?.errors?.['required']" class="invalid">
                    Street is required
                </span>
            </div>
            <div class="col-12 address text-end mt-2">
                <p-button type="submit" [label]="'Save'" [raised]="true"></p-button>
            </div>
        </div>
    </form>
</p-dialog>