<nav>
    <div class="row">
        <div class="col-4 col-md-2 logo" [ngClass]="direction === 'rtl' ? 'text-end': 'text-start'"
            (click)="navigateToHome()">
            <img class="main-image my-1 d-none d-md-block"
                [src]="direction === 'rtl' ? 'assets/Logo svg.svg' :'assets/Logo svg En Web.svg'" alt="Abaq Elanayah">
            <img class="my-1 d-md-none d-sm-block"
                [src]="direction === 'rtl' ? 'assets/Logo svg 02.svg' :'assets/Logo svg en 02.svg'" alt="Abaq Elanayah">
        </div>
        <div class="search col-12 col-md-8 text-center">
            <p-autoComplete [placeholder]="'Search' | translate" [suggestions]="resultSearch"
                (onSelect)="selectValue($event)" (input)="searchGolbal($event)" field="name" />
        </div>
        <div class="col-8 col-md-2" [ngClass]="direction === 'rtl' ? 'text-start' : 'text-end'">
            <a [ngClass]="direction === 'rtl' ? 'me-5': 'ms-5'" (click)="showSideBar()" class="pi pi-shopping-bag"
                severity="warning" pBadge [value]="'' + cartService.getCartength ? cartService.getCartength : 0"></a>
            <p-dropdown class="flag" [options]="countries" [(ngModel)]="selectedLanguage" optionLabel="name"
                (onChange)="changeLanguage($event)">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
                        <img [src]="selectedLanguage.image" [class]="'flag flag-' + selectedLanguage.code.toLowerCase()"
                            style="width: 25px; padding-inline-end: 5px;" />
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <img [src]="country.image" [class]="'flag flag-' + country.code.toLowerCase()" />
                        <div class="conuntryName">{{ country.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <span class="register">
                <p-dropdown *ngIf="!user" [options]="users" [(ngModel)]="selectedUsers" optionLabel="name"
                    (ngModelChange)="navigateToSign($event)" class="pi pi-user"></p-dropdown>
            </span>
            <a *ngIf="user" (click)="logOut()">{{"LogOut" | translate}}</a>
        </div>
    </div>
</nav>

<p-sidebar [(visible)]="sidebarVisible">
    <h3>{{"Cart" | translate}}</h3>
    <span *ngFor="let res of carts; index as i" class="card mb-2">
        <div class="row m-2">
            <div class="col-2">
                <img class="d-block" src="https://api-endpoint.abaqelanayah.com{{res.coverImg}}" [alt]="res.coverImg">
            </div>
            <div class="col-8">
                <div>
                    {{res.name}} <span *ngIf="res.attributeValue">({{res.attributeValue}})</span>
                </div>
                <div>
                    {{"AvailableQuantity" | translate}}: {{res.qty}}
                </div>
                <div class="price">
                    <span style="font-weight: bolder; display: block;"
                        [ngStyle]="{'text-decoration-line': res.discountPercentage ? 'line-through' : 'none'}">
                        {{"SAR" | translate}} {{res.price}}</span>
                    <span> ({{"VATIncluded" | translate}})</span>
                </div>
                <div class="discount" *ngIf="res.discountPercentage">{{"SAR" | translate}} {{+res.price -
                    ((+res.discountPercentage
                    /
                    100 ) * +res.price) | trimDecimalPipe}}
                </div>
            </div>
            <div class="col-2">
                <div class="text-end mb-2 clear" (click)="clear(res.id)">X</div>
                <p-inputNumber *ngIf="objQty" (onInput)="changeTotalPrice(+$event.value, res.id)" [max]="res.qty"
                    [(ngModel)]="objQty[i].qty" [min]="1" [showButtons]="true" buttonLayout="vertical"
                    spinnerMode="vertical" inputId="vertical" decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"></p-inputNumber>
            </div>
        </div>
    </span>
    <div *ngIf="carts?.length" class="footer">
        <div class="row">
            <div class="col-12 my-1">
                <p-dropdown class="deliveryStatus" [(ngModel)]="deliveryType" [options]="deliveryStatus"
                    optionLabel="name" [placeholder]="'ReceivingTheOrder' | translate"></p-dropdown>
            </div>
            <div class="col-12 my-1" *ngIf="totalPrice">
                <h4>{{"ApplicationSummary" | translate}}</h4>
                <h6 style="display: inline-block;">{{"TotalPrice" | translate }}</h6>: {{totalPrice}} {{"SAR" |
                translate }}
            </div>
            <div class="col-12 my-2" *ngIf="deliveryType?.code === 0">
                <h6 style="display: inline-block;">{{"ShipmentCost" | translate}}</h6>: {{shipmentCost}}
            </div>
            <div class="col-12 my-1" *ngIf="deliveryType?.code === 0">
                <h6 style="display: inline-block;">{{"totalPriceAndShipment" | translate }}</h6>:
                {{totalPriceAndShipment}} {{"SAR" |
                translate }}
            </div>
            <div class="col-12 my-2" *ngIf="address">
                <h6 style="display: inline-block;">{{"Address" | translate}}</h6>: {{address.city}} - {{address.area}} -
                {{address.street}}
            </div>
            <!-- <div class="col-12 my-2 card p-3">
                <ng-container *ngFor="let res of cards; index as i">
                    <div class="card p-2 m-2" *ngIf="res.lastDigit">
                        <div style="display: flex;justify-content: space-between;">
                            <label [for]="'' + i" class="ml-2">
                                ************{{res.lastDigit}}
                            </label>
                            <div>
                                <p-radioButton [value]="res.token" [(ngModel)]="tokenCard" [inputId]="'' + i" />
                                <button (click)="deleteCard(res.id)"
                                    style="color: black;background: transparent; width: auto; height: auto;">
                                    <fa-icon [icon]="faDelete"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <p-button (click)="showCardDialog()" [label]="'AddCard' | translate" />
            </div> -->
        </div>
        <p-button [disabled]="deliveryType === null || deliveryType === undefined" (click)="placeOrder()"
            [label]="'PlaceOrder' | translate" [raised]="true"></p-button>
    </div>
    <div *ngIf="ordersByCustomerId?.length" class="history-order">
        <div class="card m-2 p-2" *ngFor="let order of ordersByCustomerId">
            <div class="row">
                <h4>#{{order.id}}</h4>
                <div class="col-12 col-md-6">
                    {{"TotalPrice" | translate}}: {{order.totalPrice}} {{"SAR" | translate}}
                </div>
                <div class="col-12 col-md-6 text-end">
                    <span class="status" style="background-color: #0284C7;" *ngIf="order.status === 0">{{"Open" |
                        translate}}</span>
                    <span class="status" style="background-color: green;" *ngIf="order.status === 1">{{"Confirmed" |
                        translate}}</span>
                    <span class="status" style="background-color: #DC2626;" *ngIf="order.status === 2">{{"Canceled" |
                        translate}}</span>
                    <span class="status" style="background-color: green;" *ngIf="order.status === 3">{{"Delivered" |
                        translate}}</span>
                    <span class="status" style="background-color: gray;" *ngIf="order.status === 4">{{"Closed" |
                        translate}}</span>
                </div>
            </div>
            <div class="card row m-2" *ngFor="let res of order?.items; index as i">
                <div class="col-2">
                    <img class="d-block" src="https://api-endpoint.abaqelanayah.com{{res.imagePath}}"
                        [alt]="res.imagePath">
                </div>
                <div class="col-12">
                    <div>
                        {{"ProductName" | translate}}: {{res.productName}}
                    </div>
                    <div>
                        {{"Quantity" | translate}}: {{res.productQty}}
                    </div>
                    <div class="price">
                        <span> {{"Price" | translate}}: {{res.productPrice}} {{"SAR" | translate}} </span>
                        <span> ({{"VATIncluded" | translate}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>


<p-dialog class="dialog-address" [header]="'Address' | translate" [(visible)]="visible" [position]="'top'"
    [style]="{ width: isMobile ? '100vw' : '50vw' , height: isMobile ? '100vh': 'auto'}">
    <form [formGroup]="AddressForm" (ngSubmit)="saveAddress()">
        <div class="row">
            <div class="col-12 col-md-6 mt-4">
                <label class="mb-2">{{'Country'| translate}}</label>
                <input class="w-100" pInputText [disabled]="true" [value]="Country?.[0].name" />
            </div>
            <div class="col-12 col-md-6 mt-4">
                <label class="mb-2">{{'City'| translate}}</label>
                <input class="w-100" pInputText [disabled]="true" [value]="City?.[0].name" />
            </div>
            <div class="col-12 col-md-6 mt-4">
                <label class="mb-2">{{'SelectAArea'| translate}}</label>
                <p-dropdown class="w-100" formControlName="area" [options]="areas" optionLabel="area" optionValue="id"
                    [placeholder]="'SelectAArea'| translate"></p-dropdown>
                <span *ngIf="submitted && AddressForm.get('area')?.errors?.['required']" class="invalid">
                    {{"Area" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <label class="mb-2">{{'Street'| translate}}</label>
                <input class="w-100" formControlName="street" type="text" pInputText
                    [placeholder]="'EnterStreet' | translate" />
                <span style="font-size: 10px;">{{"Street, building and apartment name" | translate}}</span>
                <span *ngIf="submitted && AddressForm.get('street')?.errors?.['required']" class="invalid">
                    {{"Street" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="col-12 address text-center mt-4">
                <p-button type="submit" [label]="'Save' | translate" [raised]="true"></p-button>
            </div>
        </div>
    </form>
</p-dialog>


<p-dialog [header]="'Login' | translate" [modal]="true" [(visible)]="visibleLogin" [style]="{ width: '50rem' }">
    <app-login [popup]="true" (openRegisterPopup)="openRegister()" (closePopup)="closePopupLogin($event)"></app-login>
</p-dialog>


<p-dialog [header]="'Register' | translate" [modal]="true" [(visible)]="visibleRegister" [style]="{ width: '50rem' }">
    <app-register (closePopupRegister)="closePopupRegister($event)"></app-register>
</p-dialog>


<!-- <p-dialog [header]="'VisaCard' | translate" [modal]="true" [(visible)]="visibleCardDialog" [style]="{ width: '30rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <form [formGroup]="cardForm" (ngSubmit)="saveCard()">
        <div class="row">
            <div class="col-12">
                <img src="assets/R.png" width="100%" [alt]="res.coverImg">
            </div>
            <div class="col-12 mb-2">
                <p-inputMask formControlName="Number" class="mask" mask="9999-9999-9999-9999"
                    [placeholder]="'CardNumber' | translate"></p-inputMask>
                <span *ngIf="submittedCardForm && cardForm.get('Number')?.errors?.['required']" class="invalid">
                    {{"CardNumber" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="col-12 mb-2">
                <p-inputMask formControlName="SecurityCode" class="mask" mask="999" placeholder="CVC"></p-inputMask>
                <span *ngIf="submittedCardForm && cardForm.get('SecurityCode')?.errors?.['required']" class="invalid">
                    CVC {{"isRequired" | translate}}
                </span>
            </div>
            <div class="col-12 mb-2">
                <p-inputMask formControlName="ExpiryMonth" class="mask" mask="99"
                    [placeholder]="'ExpiryMonth' | translate"></p-inputMask>
                <span *ngIf="submittedCardForm && cardForm.get('ExpiryMonth')?.errors?.['required']" class="invalid">
                    {{"ExpiryMonth" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <div class="col-12 mb-2">
                <p-inputMask formControlName="ExpiryYear" class="mask" mask="99"
                    [placeholder]="'ExpiryYear' | translate"></p-inputMask>
                <span *ngIf="submittedCardForm && cardForm.get('ExpiryYear')?.errors?.['required']" class="invalid">
                    {{"ExpiryYear" | translate}} {{"isRequired" | translate}}
                </span>
            </div>
            <button type="submit">{{"CardRegistration" | translate}}</button>
        </div>
    </form>
</p-dialog> -->