<div class="container">
    <h2>سياسة الاستبدال والاسترجاع</h2>
    <div class="border mt-3 p-2">
        <div>
            <p>حرصاً منّا على رضاكم سيتم استرجاع المنتجات التالفة أو تعويضكم برصيد في المحفظة شامل الشحن، ولضمان سلامتكم
                لا
                يتم استرجاع منتجات التجميل أو العطور أو العناية أو المنتجات التي تم استخدامها أو فتحها لسلامتكم.</p>
            <p>كما يمكنكم استرجاع منتجات الأجهزة بشرط عدم استخدامها أو فتحها، وبشرط أن تكون بحالتها الأصلية كما تم
                استلامها
                من عبق العناية.</p>
        </div>
        <div>
            <h4>س: هل هناك رسوم للاسترجاع ؟</h4>
            <p>ج: عند استرجاع منتج سليم وغير تالف؛ أي بحالته الأصلية فإن رسوم الاسترجاع يتحملها العميل وقيمتها 20 ريال
                ويتم خصمها من قيمة المُنتج المسترجع.</p>
            <p>و عند استرجاع المنتج التالف فإن عبق العناية تتحمل كامل الرسوم.</p>
        </div>
        <div>
            <h4>س: كيف يمكنني استرجاع المنتج التالف؟</h4>
            <p>ج: سيسعد رفاقنا في خدمة العملاء بخدمتكم حيال ذلك من خلال قيامكم بإرسال تذكرة على الطلب أو من خلال الرقم
                الموحد:</p>
            <p>بشرط أن يكون المنتج المسترجع بحالته الأصلية و بغلافه الأصلي ولم يتم استخدامه أو فتحه أو تغيير شكل التغليف
                الخاص بالمنتج.</p>
        </div>
        <div>
            <h4>س: هل يمكنني استرجاع منتج تالف تم شرائه بعروض عبق العناية ؟</h4>
            <p>ج: في حال استلام منتج تالف تم شرائه بعروض عبق العناية يتم تعويض العميل بشحن منتج جديد، أو إضافة رصيد في
                المحفظة بقيمة المنتج، ولا يمكن استرجاع قيمة المنتج على الحساب البنكي.</p>
        </div>
        <div>
            <h4>س: هل يمكنني إسترجاع العدسات وهي بحالتها الأصلية؟</h4>
            <p>ج: لضمان سلامتكم لا يتم استرجاع منتجات التجميل بما فيها العدسات حتى وإن كانت بحالتها الأصلية.</p>
        </div>
        <div>
            <h4>س: كم هي المدة المسموحة استرجاع المنتج التالف ؟</h4>
            <p>ج: يمكنكم استرجاع المنتج التالف خلال 4 أيام من عملية الشراء.</p>
        </div>
        <div>
            <h4>س: كم تستغرق عملية الاسترجاع للمنتج التالف ؟</h4>
            <p>ج: في عبق العناية نعمل بكل جهد لإرضائكم، قد تستغرق عملية الاسترجاع مدة زمنية تبلغ 10 أيام عمل.</p>
        </div>
        <div>
            <h4>س: في عملية الاسترجاع، كيف يمكنني استرداد المبلغ الذي دفعته؟</h4>
            <p>ج: يتم استرداد المبلغ بعد وصول المنتج التالف إلينا والتأكد من حالته، ومن ثم يتم استرجاع المبلغ بحسب
                الطريقة المتبعة في الدفع.</p>
            <p>إذا كان الدفع ببطاقة ائتمانية سوف يسترجع المبلغ في المحفظة أو في الحساب البنكي، وإذا كان الدفع عند
                الاستلام سيكون الاسترجاع رصيد في المحفظة.</p>
        </div>
        <div>
            <h4>س: هل يمكنني استرجاع الرصيد المؤقت وتحويله إلى الحساب البنكي؟</h4>
            <p>ج: نعتذر منك! لا يمكن استرجاع الرصيد المؤقت أو تحويله إلى الحساب البنكي.</p>
        </div>
    </div>
</div>