/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "assets/styles/colors.scss";
@import 'ngx-toastr/toastr';

// change default css
.fp-controlArrow {
    padding: 0 1%;
}

body {
    background-color: $base-color;
}

.invalid {
    color: red;
}

div {
    font-family: "Cairo", sans-serif !important;
}

#toast-container > div {
    border-radius: 8px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
    width: fit-content;
  }


//   ::ng-deep .p-paginator  {
//     width: 100%;
//   }